.header {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    backdrop-filter: blur(6px);
    border-bottom: 1px solid rgb(97, 97, 97);
    
    &-container {
        width: 90%;
        height: 10vh;
        margin: 0 auto;
    }
}